* {
    margin: 0;
    padding: 0;
    font-family: "San Francisco", Arial, sans-serif;
}

body {
    background-color: #ececf0;
    ;


}

h3 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: larger;


}

.contenedores p {

    margin-bottom: 5px;
    animation: aparecerTexto 2s ease;

}

.buscador {
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px rgb(45, 44, 44) solid;
    width: 150px;
}

.contenedor-buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 250px;
}

.contenedor-buscador:hover {
    cursor: pointer;
}

.contenedor-buscador img {
    padding: 5px;
    border-radius: 10px;
}

.contenedor-buscador img:hover {
    background-color: #ececf0;
}

.seccion-presentacion {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

}

.seccion-presentacion .imagen-presentacion {
    width: 400px;
    overflow: hidden;

}

.botones-presentacion button {
    color: white;
    background-color: #0071e3;
    border: 2px #0071e3 solid;
    border-radius: 30px;
    padding: 15px 30px;
    width: 270px;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 18px;

}

.botones-presentacion button:hover {
    background-color: transparent;
    border: #0071e3 2px solid;
    color: #0071e3;
}

.botones-presentacion {
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.botones-presentacion h1 {
    color: white;
    text-align: center;
    font-size: 50px;

}


.contenedores {
    background-color: white;
    border-radius: 20px;
    color: grey;
    width: 400px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    overflow: hidden;


}

.contenedores img {
    margin: 10px;
}

.contenedores .comentarios {
    cursor: pointer;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
    border-radius: 20px;

}

.contenedores .comentarios:hover {
    background-color: #ececf0;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;


}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(45, 44, 44);
    cursor: pointer;
    transition: all 0.3s ease;
}

nav ul li:hover {
    color: #0071e3;

}

.seccion-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}



.texto-descubre {
    text-align: center;
    padding: 50px;
    font-size: 40px;
}

@keyframes aparecerTexto {
    from {
        opacity: 0;
        /* Iniciar con opacidad 0 para que el texto esté oculto */
        transform: translateY(8px);
        /* Desplazar el texto hacia abajo */
    }

    to {
        opacity: 1;
        /* Al final de la animación, establecer opacidad completa */
        transform: translateY(0);
        /* Quitar el desplazamiento vertical */
    }
}

.seccion-cuadrado {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
}

.texto-deMoviles {
    text-align: center;
    font-size: 40px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;

}

.texto-deConsolas {
    text-align: center;
    font-size: 40px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}


.seccion-cuadrado2 {
    overflow: hidden;
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.seccionAndroid {
    width: 48%;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seccionAndroid-oculta,
#seccioniOS-oculta {
    display: none;
    background-color: white;
    width: 48%;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;

}

#contenedor-oculto1,
#contenedor-oculto2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 70px;
}

.android-oculto {
    font-size: 70px;
    text-align: center;
    color: black;
    width: 620px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}

.ios-oculto {
    font-size: 70px;
    text-align: center;
    color: black;
    width: 300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#tabla1 tr th,
#tabla2 tr th {
    padding: 20px;


}

#tabla1,
#tabla2 {
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#btnoculto1,
#btnoculto2 {
    margin-top: 50px;
    color: #0071e3;
    background-color: white;
    border: 2px #0071e3 solid;
    border-radius: 30px;
    padding: 15px 30px;

    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 18px;
}

#btnoculto1:hover,
#btnoculto2:hover {
    background-color: #0071e3;
    border: #0071e3 2px solid;
    color: white;
}

.seccioniOS {
    background-color: white;
    width: 48%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.ventana-iniciarsesion {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    overflow: auto;
    background-color: white;
    border-radius: 20px;
}

.contenido {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.iOS {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.iOS h1 {
    font-family: '-apple-system', 'Helvetica Neue', sans-serif;
    font-size: 110px;
    text-align: center;
    color: black;
    margin-bottom: 30px;

}

.Android {
    display: flex;
    text-align: center;
}

.Android h1 {
    font-family: '-apple-system', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    text-align: center;
    color: black;
}

.btn-iOS {
    color: #0071e3;
    background-color: white;
    border: 2px #0071e3 solid;
    border-radius: 30px;
    padding: 15px 30px;

    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 18px;

}

.btn-iOS:hover {
    background-color: #0071e3;
    border: #0071e3 2px solid;
    color: white;
}

.btn-Android {
    color: #0071e3;
    background-color: white;
    border: 2px #0071e3 solid;
    border-radius: 30px;
    padding: 15px 30px;

    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 18px;
}

.btn-Android:hover {
    background-color: #0071e3;
    border: #0071e3 2px solid;
    color: white;
}


.ventana {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 190px;
    overflow: auto;
    background-color: white;
    border: grey 2px solid;
    border-radius: 20px;
    display: flex;
    align-content: center;
    text-align: center;
    padding: 20px;
}

.ventana p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 75%;
    color: rgb(45, 44, 44);
    background-color: white;
    border: grey 1px solid;
    border-radius: 20px;
    padding: 20px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: inherit;
}

.menu ul li:hover {
    color: #0071e3;
}

.cerrar {
    color: #aaa;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;


}

.cerrar:hover,
.cerrar:focus {
    color: #0071e3;
    text-decoration: none;
    cursor: pointer;
}

.seccion-cuadrado3 {
    overflow: hidden;
    display: flex;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}

.seccionPS4 {
    width: 48%;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;

}

.seccionXbox {
    background-color: white;
    width: 48%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

}


footer {
    background-color: white;
    /* Cambia al color de fondo deseado */
    color: black;
    width: 100%;
    padding: 20px 0;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

footer img {
    color: black;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
}