* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececf0;
    font-family: "San Francisco", Arial, sans-serif;
    overflow-x: hidden;
}

#carrusel-dispositivos {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 64px;
    margin-bottom: 50px;

}

#carrusel-dispositivos::-webkit-scrollbar {
    background-color: #ececf0;
}

#botones-scroll {
    position: absolute;
    bottom: 5px;
    left: 85.8%;
    display: flex;
    flex-direction: row-reverse;

}

#botones-scroll #imagen-flecha2 {
    transform: scaleX(-1);
}

#botones-scroll img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.seccion-botones {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
}


.seccion-botones .botones:hover {
    opacity: 0.5;
    cursor: pointer;
}

.seccion-botones .izquierda {
    transform: scaleX(-1);
}







.caja-carrusel {
    flex: 1 0 auto;
    background-color: white;
    width: 300px;
    height: 510px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
    /* Definir la transición */
}

.caja-carrusel:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#elemento-invisible {
    background-color: #ececf0;
    width: 50px;
}

#elemento-invisible:hover {
    cursor: default;
    box-shadow: none;
}


#seccion-porque-oscomparer {

    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}



#primer-h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    color: grey;
}

.seccion-respuestas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 120px;
}

.cajas-respuestas {
    padding: 15px;
    width: 350px;
    border: 1px solid #424245;
    background-color: #28282a;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.cajas-respuestas p {
    padding: 10px;
    width: 300px;
    font-size: large;
    text-align: left;
}

.cajas-respuestas h2 {
    padding: 10px;
    text-align: left;
    width: 300px;
}

.cajas-respuestas img {
    padding: 30px;
}

.titulo {
    margin-top: 50px;
    padding-top: 100px;
    color: black;
    font-size: 30px;
    text-align: left;
    margin-left: 65px;

}

.texto-explicativo h3 {
    margin-left: 65px;
    color: grey;
}


.iconos {
    margin-left: 10px;
}

.secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    overflow-x: scroll;
    overflow-y: hidden;



}

.secciones::-webkit-scrollbar {
    background-color: #ececf0;
}

.contenedores p {
    margin-bottom: 5px;
}

.contenedores h3 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: larger;
}

.contenedores {
    flex: 1 0 auto;
    background-color: white;
    border-radius: 20px;
    color: grey;
    width: 400px;
    margin: 20px;
    margin-top: 0%;
    padding: 20px;
    text-align: center;
    overflow: hidden;


}

.contenedores img {
    margin: 10px;
}

.contenedores .comentarios {
    cursor: pointer;
    width: 45px;
    transition: all 0.3s ease;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

}




.contenedores .comentarios:hover {
    background-color: #ececf0;
}

.contenedores:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ventana-comparacion {
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: grey;
    height: 500px;
    width: 1300px;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

}

.ventana-comparacion h1 {
    padding: 20px;
    color: black;
}

canvas {
    margin-left: 20px;
}

.ventana-comparacion .cajas-so ul li {
    list-style: none;
    padding: 5px;
}

.ventana-comparacion .cajas-so img,
h1,
h3 {
    padding: 5px;
}

.ventana-comparacion .cajas-so {
    padding: 20px;
}

.caja-general {
    display: flex;
    flex-direction: row;
}

#btn-cerrar {
    color: white;
    background-color: #0071e3;
    border: 2px #0071e3 solid;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}


#btn-cerrar:hover {

    background-color: transparent;
    color: #0071e3;
}

@media(max-width: 500px) {

    * {
        padding-right: 0%;
    }

    body {
        width: 430px;
    }

    #botones-scroll {
        display: none;
    }

    .caja-carrusel {
        width: 200px;
        height: 350px;
        margin: 20px;
        border-radius: 20px;
        overflow: hidden;
    }

    .caja-carrusel img {
        width: 200px;
        height: 350px;
    }


    #carrusel-dispositivos {
        height: 400px;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .ventana-comparacion {
        width: 300px;
        height: auto;
        font-size: smaller;
    }

    .caja-general {
        width: 300px;
        overflow-x: hidden;
        overflow-y: visible;
        flex-direction: column;
        align-items: center;
    }

    .contenedores{
        width: 230px;
    }

    .contenedor-canvas {
        width: 100px;
        height: 50px;
        display: none;
    }

    #so1 img,
    #so2 img {
        width: 30px;
        height: 30px;
    }

    .titulo {
        margin-left: 20px;
        font-size: smaller;
    }

    .texto-explicativo h3 {
        margin-left: 20px;
        font-size: smaller;
    }

    .secciones {
        padding-left: 20px;
    }

    .seccion-botones {
        display: none;
    }

    #primer-h1 {
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #seccion-porque-oscomparer {

        background-color: black;
        color: white;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    

    .cajas-respuestas {

        width: 200px;


    }

    .cajas-respuestas p {

        width: 190px;
        font-size: smaller;

    }

    .cajas-respuestas h2 {
        font-size: small;
        width: 190px;
    }

    .cajas-respuestas img {
        padding: 20px;
        width: 50px;
        height: 50px;
    }

}